body {
  background-color: #D3E4D5;
  font-family: Arial;
  color: black;
  text-align: center;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 100;
}

h2, p {
  font-size: 20px;
}

.profile-circle {
  height: 100px;
  border-radius: 50%;
}

.btn-white{
  text-decoration: none;
  background: #D3E4D5;
  padding: 10px;
  color: black;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

.btn-white:hover {
  background: #edaaaa;
}

.list-inline {
  padding: 0;
  list-style: none;
  color: #464159;

}

.list-inline li {
  display: inline-block;
  margin: 5px;
  font-size: 20px;
}

.list-inline i {
  color: #6c7b95;
}

.list-inline i:hover {
  color: #edaaaa;
}

.card {
  text-align: center;
  width: 500px;
  margin: 15px auto;
  background: white;
  padding: 25px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px 5px #D6E6ED;
  padding-bottom: 20px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
    background: #ECD1D1;
    box-shadow: 5px 5px 5px 5px white;
  }
  .mobile-btn {
    background: white;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
    background: #F1D8C5;
    box-shadow: 5px 5px 5px 5px white;
  }
   .mobile-btn {
    background: white;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
    background: white;
    box-shadow: 5px 5px 5px 5px #D6E6ED;
  }
   .mobile-btn {
    background: #D3E4D5;
  }
}
